---
import AboutUs from "../components/AboutUs.astro";
import AnnualReport from "../components/AnnualReport.astro";
import CancerInfo from "../components/CancerInfo.astro";
import Carousel from "../components/Carousel.astro";
import DonationForm from "../components/DonationForm.jsx";
import FloatButton from "../components/FloatButton.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import HowToHelp from "../components/HowToHelp.astro";
import InstagramFeedContainer from "../components/InstagramFeedContainer.astro";
---

<Layout>
    <main>
        <Carousel />

        <AboutUs />
        
        <CancerInfo />

        <HowToHelp />

        <AnnualReport />
        
        <InstagramFeedContainer />
        
        <Footer />

        <FloatButton />
        
        <DonationForm client:load />
    </main>

</Layout>
