---
import Tabs from "./Tabs";
---

<section id="nosotros" class="fade-in">
    <div class="about-title">
        <div class="main-text">
            <h2>El cáncer no se detiene y nosotros tampoco</h2>
            <p>
                Trabajamos para que los niños y jóvenes de Sinaloa tengan un
                acompañamiento integral y que la causa económica no sea una
                limitante para continuar con su tratamiento.
            </p>
        </div>
    </div>
    <div class="us-container">
        <Tabs client:load />
    </div>
</section>
