---
import Image from "astro/components/Image.astro";
import anualReport from "../assets/annual-report.png";
---

<section id="informeAnual" class="fade-in">
  <div class="tarjeta-container">
    <div class="tarjeta color-bg">
      <Image src={anualReport} alt="annual report" loading="lazy" />
      <a
        href="https://drive.google.com/uc?export=download&id=1m5f_Cr6qIn7pCROihL68W5QJivEAixEt"
        class="d_button">Descargar informe</a
      >
    </div>

    <div class="tarjeta">
      <div class="text-info">
        <h3>Nuestro informe</h3>
        <p>
          <b>GANAC</b> tiene un historial comprobado en el uso eficiente de donaciones.
          Durante 29 años, <b>hemos acompañado a más de 3,600 familias</b> con pacientes
          oncológicos en el Hospital Pediátrico de Sinaloa, <b
            >brindando apoyo integral:
          </b>medicamentos, transporte, desayunos, investigación y
          acompañamiento emocional.
        </p>

        <p>
          Gracias a nuestros <b>Ángeles de Esperanza</b>, empresas, médicos,
          enfermeras, trabajadores sociales y voluntarios, hemos incrementado la
          tasa de sobrevida del 62.5% al 73%, acercándonos a nuestro objetivo de <b
            >curar el cáncer infantil.</b>
        </p>

        <p>
          Nuestros donantes pueden estar seguros de que su aportación se
          convierte en quimioterapia, transporte y recursos esenciales para la
          recuperación.
        </p>

        <p>
          <b>Nuestra mision es:</b> brindar a niños y jóvenes la oportunidad de curarse
          de cáncer, asegurando que ninguno sea excluido por su situación económica,
          recibiendo un tratamiento integral que preserve su calidad de vida.
        </p>

        <p>
          En Sinaloa, hemos alcanzado un <b
            >índice de sobrevida del 73%, el más alto en México.</b>
        </p>
      </div>
    </div>
  </div>
</section>
