<footer id="contacto">
  <div class="contact-info">
    <div class="contact-main">
      <div class="certifications">
        <h2>ALIADOS</h2>
        <div class="certifications-logos">
          <img src="./FundacionLogo.png" alt="Fundacion Logo" />
          <img src="./concredito.webp" alt="Concredito Logo" />
          <img src="./Vibremos.png" alt="Cemefi Logo" />
          <img src="./Casa-de-la-Amistad.webp" alt="JAP Logo" />
          <img src="./logo_dif.png" alt="Ganac Logo" />
          <img src="./LogoCemefi.png" alt="Cemefi Logo" />
        </div>
      </div>

      <div class="socials">
        <h2>REDES SOCIALES</h2>
        <div class="social-links">
          <div class="social-icon-circle">
            <a
              href="https://instagram.com/ganacmx"
              target="_blank"
              aria-label="Instagram"
            >
              <svg
                viewBox="0 0 72 72"
                xmlns="http://www.w3.org/2000/svg"
                fill="#ffffff"
                width="24"
                height="24"
              >
                <path
                  fill="none"
                  d="M46.7845,12.6136h-21.569c-6.9598,0-12.6019,5.6421-12.6019,12.6019v21.5689c0,6.9598,5.6421,12.6019,12.6019,12.6019h21.5689c6.9598,0,12.6019-5.6421,12.6019-12.6019V25.2155C59.3864,18.2557,53.7443,12.6136,46.7845,12.6136z"
                ></path>
                <path
                  fill="none"
                  stroke="#ffffff"
                  stroke-miterlimit="10"
                  stroke-width="2"
                  d="M46.7845,12.6136h-21.569c-6.9598,0-12.6019,5.6421-12.6019,12.6019v21.5689c0,6.9598,5.6421,12.6019,12.6019,12.6019h21.5689c6.9598,0,12.6019-5.6421,12.6019-12.6019V25.2155C59.3864,18.2557,53.7443,12.6136,46.7845,12.6136z"
                ></path>
                <circle
                  cx="36"
                  cy="36"
                  r="11.29"
                  fill="none"
                  stroke="#ffffff"
                  stroke-miterlimit="10"
                  stroke-width="2"></circle>
                <circle cx="49.7092" cy="22.2908" r="2.4193"></circle>
              </svg>
            </a>
          </div>
          <div class="social-icon-circle">
            <a
              href="https://facebook.com/GanacIAP"
              target="_blank"
              aria-label="Facebook"
            >
              <svg 
                width="24" 
                height="24" 
                viewBox="-337 273 123.5 256" 
                xmlns="http://www.w3.org/2000/svg"
                fill="#ffffff"
                aria-hidden="true"
                focusable="false"
                role="img"
              >
                <path 
                  fill="#ffffff"
                  d="M-260.9,327.8c0-10.3,9.2-14,19.5-14c10.3,0,21.3,3.2,21.3,3.2l6.6-39.2c0,0-14-4.8-47.4-4.8c-20.5,0-32.4,7.8-41.1,19.3 c-8.2,10.9-8.5,28.4-8.5,39.7v25.7H-337V396h26.5v133h49.6V396h39.3l2.9-38.3h-42.2V327.8z"
                ></path>
              </svg>
            </a>
          </div>
          <div class="social-icon-circle">
            <a
              href="https://tiktok.com/@ganacmx"
              target="_blank"
              aria-label="TikTok"
            >
              <svg
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M11.9 3C11.9 2.72386 12.1239 2.5 12.4 2.5H15.2C15.4597 2.5 15.6762 2.69883 15.6982 2.9576C15.8456 4.68994 16.601 5.69493 17.4512 6.27309C18.3233 6.86619 19.3321 7.03338 19.9778 7.00464C20.2536 6.99236 20.4872 7.20604 20.4995 7.48191C20.5118 7.75778 20.2981 7.99137 20.0222 8.00365C19.2013 8.04019 17.97 7.83529 16.8888 7.09999C15.8711 6.40784 15.0166 5.26502 14.7549 3.5H12.9V13.9666C12.9 15.6646 12.2277 16.9506 11.2484 17.6391C10.267 18.3291 9.00524 18.3869 7.9957 17.6557C6.74437 16.7493 6.5284 15.3245 7.03027 14.2013C7.46605 13.226 8.44075 12.4775 9.7 12.4544V10.1748C8.78509 10.2343 7.61007 10.4676 6.61391 11.0866C5.4598 11.8038 4.5 13.0635 4.5 15.3374C4.5 16.8087 4.89793 17.8589 5.48366 18.6091C6.07288 19.3638 6.88196 19.8527 7.76297 20.1451C8.64578 20.438 9.58405 20.5275 10.3975 20.493C11.2249 20.4579 11.865 20.2973 12.169 20.139C13.4079 19.4936 14.1093 18.8565 14.5221 18.0477C14.9437 17.2218 15.1 16.15 15.1 14.5541V9.0708C15.1 8.89826 15.189 8.7379 15.3354 8.64658C15.4818 8.55525 15.6649 8.54586 15.8199 8.62173C16.4456 8.9281 18.1979 9.59709 20.0407 9.74745C20.3159 9.76991 20.5208 10.0112 20.4983 10.2865C20.4759 10.5617 20.2346 10.7666 19.9593 10.7441C18.4542 10.6213 17.0188 10.185 16.1 9.82926V14.5541C16.1 16.1868 15.9463 17.4572 15.4128 18.5023C14.8706 19.5646 13.972 20.3273 12.631 21.0259C12.1423 21.2804 11.3361 21.4541 10.4399 21.4921C9.52965 21.5307 8.467 21.4323 7.44799 21.0942C6.42717 20.7554 5.43351 20.1698 4.69545 19.2245C3.95389 18.2748 3.5 16.9995 3.5 15.3374C3.5 12.7156 4.64021 11.1357 6.08611 10.2373C7.49667 9.36075 9.15221 9.1583 10.2 9.1583C10.4761 9.1583 10.7 9.38216 10.7 9.6583V12.9874C10.7 13.1331 10.6365 13.2714 10.5262 13.3664C10.4158 13.4614 10.2695 13.5036 10.1255 13.4819C9.06028 13.3214 8.27059 13.8767 7.94327 14.6092C7.6178 15.3376 7.74632 16.2403 8.5823 16.8458C9.21629 17.305 10.0101 17.2873 10.6732 16.8211C11.3386 16.3532 11.9 15.4019 11.9 13.9666V3Z"
                  fill="#ffffff"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>

      <div class="contact">
        <h2>CONTACTO</h2>
        <div class="contact-info">
          <div class="cellphone">
            <p>
              TELÉFONO: <a href="tel:+526677139116"
                ><strong>6677139116</strong></a>
            </p>
            <a href="https://wa.me/1526677139116">
              <svg
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
              >
                <path
                  d="M17.4145 14.3822C17.1173 14.2334 15.6564 13.5147 15.384 13.4153C15.1117 13.3162 14.9136 13.2667 14.7154 13.5641C14.5173 13.8615 13.9478 14.5309 13.7745 14.7293C13.6012 14.9275 13.4278 14.9524 13.1307 14.8036C12.8335 14.6549 11.876 14.3411 10.7411 13.3287C9.85769 12.5407 9.26129 11.5677 9.08799 11.2702C8.91461 10.9727 9.06943 10.8119 9.21822 10.6637C9.35195 10.5306 9.51546 10.3166 9.66399 10.1431C9.81257 9.96961 9.86209 9.84558 9.96114 9.6474C10.0602 9.44899 10.0107 9.27553 9.93634 9.12682C9.86209 8.97808 9.26779 7.51537 9.02016 6.92034C8.77895 6.34096 8.53397 6.41944 8.35157 6.41024C8.17844 6.40165 7.98013 6.39981 7.78207 6.39981C7.58397 6.39981 7.26201 6.47418 6.98958 6.77159C6.71727 7.06908 5.94959 7.78806 5.94959 9.25059C5.94959 10.7133 7.01434 12.1263 7.16296 12.3246C7.31158 12.523 9.25829 15.5244 12.2393 16.8116C12.9482 17.1178 13.5017 17.3006 13.9333 17.4375C14.6451 17.6637 15.2929 17.6318 15.805 17.5552C16.3759 17.47 17.5631 16.8364 17.8107 16.1424C18.0583 15.4481 18.0583 14.8532 17.984 14.7293C17.9097 14.6053 17.7116 14.5309 17.4145 14.3822ZM11.9925 21.7853H11.9886C10.2148 21.7846 8.47517 21.3081 6.9575 20.4075L6.59654 20.1932L2.85541 21.1746L3.85395 17.527L3.61899 17.153C2.62951 15.5792 2.10688 13.7603 2.10765 11.8925C2.10983 6.44257 6.54415 2.0086 11.9965 2.0086C14.6367 2.00954 17.1185 3.03905 18.9849 4.9075C20.8511 6.77582 21.8782 9.25932 21.8772 11.9005C21.875 17.3509 17.4408 21.7853 11.9925 21.7853ZM20.4052 3.48773C18.1599 1.2398 15.1739 0.00128304 11.9925 0C5.43736 0 0.102301 5.33471 0.0996495 11.8918C0.0987941 13.9879 0.646396 16.0337 1.68711 17.8373L0 24L6.30443 22.3462C8.04154 23.2937 9.99728 23.7931 11.9877 23.7937H11.9926C18.547 23.7937 23.8825 18.4585 23.8852 11.9013C23.8864 8.72361 22.6505 5.73566 20.4052 3.48777"
                  fill="#25d366"></path>
              </svg>
            </a>
          </div>
          <p>
            CORREO DE CONTACTO: <a href="mailto:comunicacion@ganac.org.mx"
              >comunicacion@ganac.org.mx</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <p>&copy; 2025 Ganac IAP. Todos los derechos reservados.</p>
</footer>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const logos = document.querySelectorAll('.certifications-logos img');
    let currentLogoIndex = 0;

    function cycleLogos() {
      // Remove active state from all logos
      logos.forEach(logo => {
        logo.classList.remove('logo-active');
        // logo.style.filter = 'grayscale(100%)';
        logo.style.transform = 'scale(1)';
      });

      // Activate current logo
      const currentLogo = logos[currentLogoIndex];
      currentLogo.classList.add('logo-active');
      currentLogo.style.filter = 'grayscale(0%)';
      currentLogo.style.transform = 'scale(1.4)';

      // Move to next logo
      currentLogoIndex = (currentLogoIndex + 1) % logos.length;
    }

    // Initial cycle
    cycleLogos();

    // Set interval to cycle logos every 2 seconds
    setInterval(cycleLogos, 1500);
  });
</script>