<nav>
    <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#cancerInfantil">Cáncer Infantil</a></li>
        <li><a href="#comoAyudar">Cómo Ayudar</a></li>
        <li><a href="#informeAnual">Informe Anual</a></li>
        <li><a href="#instagram-section">Instagram</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
</nav>